/* define the area we will center our content, give it some style */
.center {
  position: absolute; /* position:absolute means it is positioned relative to its nearest positioned ancestor - in this case body */
  top: 50%; /* this centers the content vertically */
  left: 50%; /* this centers the content horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* not entirely certain but I believe this moves the content... honestly not too sure but I think it helps center the content */
  border: 1px black solid; /* creates a 1 pixel black solid border */
  height: 95%; /* center will create a window 95% of the vertical viewport */
  width: 95%; /* center will create a window 95% of the horizontal viewport */
  background: rgb(
    215,
    210,
    245
  ); /* the background of center will have some color */
  text-align: center; /* aligns the text centrally */
  border-radius: 3px; /* rounds the corners of the center frame */
  box-shadow: inset 0px 0px 4px black, 0 0 4px black; /* inset creates an internal shadow along the border, the other text creates a border externally */
  line-height: 1.5rem; /* distance between lines of text */
  font-family: Tahoma; /* i mean */
  overflow-wrap: break-word; /* break-word will separate long strings of text to wrap to the next row --- but its not working here to wrap the input.text below! */
}
h1 {
  font-size: 1.2rem;
  margin: 10px;
  font-weight: 700;
}

p {
  font-size: 0.8rem;
  margin: 0% 10% 1% 10%; /* 20% margin on the right, left to wrap the text centrally */
}

label {
  font-size: 0.9rem;
}

/* creates a shadow effect on hover */
#length:hover,
#copy:hover,
#password:hover,
#generate:hover {
  box-shadow: inset 0px 0px 4px black, 0 0 5px black;
}

/* lets make the checkboxes a bit bigger for ease of use */
input.checkbox {
  width: 15px;
  height: 15px;
}

/* button to generate password, make it large and visible enough to immediately draw the eye */
#generate {
  background-color: black;
  color: white;
  padding: 5px; /* this defines space between text and border */
  margin: 5px 0px; /* 2 values means top/bottom is 5px, right/left is 0px -- i.e. just give us soom room vertically */
  border-radius: 5px; /* round them borders */
  font-size: 1em; /* lets stand out with large text */
  width: 180px;
}

/* the area where the password will be generated */
.password {
  width: 80%; /* text area 80% of the width of the nearest positioned ancestor */
  max-width: 400px;
  border-radius: 6px; /* round them edges */
  padding: 20px; /* push the text in from the edge of the border */
  margin: 10px 0px;
  height: 60px;
  text-align: center;
}

#copy {
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  width: 180px;
}

/* bubble for slider */
.range-wrap {
  width: 60%; /* 60% of the width of the nearest positioned ancestor */
  position: relative; /* relative keeps the text aligned with the slider */
  margin: auto; /* this centers the content horizontally */
  margin-top: 25px; /* extra buffer needed on the top so the bubble won't overlap other text */
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animation: 0.2s;
  background: #03a9f4;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}

/* the pop up showing the number value */
.range-value {
  position: absolute;
  top: -50%;
}
.range-value span {
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.switch {
	display: inline-flex;
}

/* radio button experiment start */

/* radio button experiment end */